fastapi
uvicorn
pydantic
pydantic-settings
motor
chromadb
langchain-chroma
python-multipart
paddleocr
openai-whisper
PyMuPDF
python-docx
python-pptx
opencv-python-headless
moviepy
openai
langchain
langgraph
python-dotenv
python-jose[cryptography]
email-validator
aiofiles
langchain-openai
langchain-text-splitters
langfuse
httpx
